@charset "UTF-8";
/* We had to create a separate mixin for this effect and not simply include it in the component .scss partial file, because this effect is only used when hovering over a parent element. */
/* We had to create a separate mixin for this effect and not simply include it in the component .scss partial file, because this effect is only used when hovering over a parent element. */
/* We included this as a mixin here also because we may need to use this effect when hovering over another or parent element.  */
/* Main grid-template-columns definition that consists of 14 columns. */
/* COLORS */
/* TEXT COLORS */
/* FONTS */
/* BORDERS */
/* SHADOWS */
/* TRANSITIONS */
@keyframes shake-icon {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes user-pin {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}
html {
  line-height: 1.4;
  /* To make calculations easier when using rem. */
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: 0.1rem dotted #667c99;
}

*::selection {
  background-color: #ff311f;
  color: white;
}

/* Grid definition for the overall page layout. */
.main {
  display: grid;
  grid-template-columns: [full-start] minmax(5vw, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(5vw, 1fr) [full-end];
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: inline-block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  /* Resetting with outline-width: 0 prevents the browser from clearing the styles and when you reapply a width the style will still be there. */
  outline-width: 0;
  font: inherit;
}

input,
button,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Stop IE showing a scrollbar when there is no need for one. */
textarea {
  overflow: auto;
}

button {
  cursor: pointer;
  line-height: 1;
}

/* Remove all animations and transitions for people that prefer not to see them. */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* rubik-regular - latin */
/* prettier-ignore */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../assets/fonts/rubik-v12-latin-regular.woff2") format("woff2"), url("../assets/fonts/rubik-v12-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - latin */
/* prettier-ignore */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../assets/fonts/rubik-v12-latin-500.woff2") format("woff2"), url("../assets/fonts/rubik-v12-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-600 - latin */
/* prettier-ignore */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../assets/fonts/rubik-v12-latin-600.woff2") format("woff2"), url("../assets/fonts/rubik-v12-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-700 - latin */
/* prettier-ignore */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../assets/fonts/rubik-v12-latin-700.woff2") format("woff2"), url("../assets/fonts/rubik-v12-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-800 - latin */
/* prettier-ignore */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../assets/fonts/rubik-v12-latin-800.woff2") format("woff2"), url("../assets/fonts/rubik-v12-latin-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-italic - latin */
/* prettier-ignore */
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../assets/fonts/rubik-v12-latin-italic.woff2") format("woff2"), url("../assets/fonts/rubik-v12-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500italic - latin */
/* prettier-ignore */
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 500;
  src: local(""), url("../assets/fonts/rubik-v12-latin-500italic.woff2") format("woff2"), url("../assets/fonts/rubik-v12-latin-500italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-600italic - latin */
/* prettier-ignore */
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 600;
  src: local(""), url("../assets/fonts/rubik-v12-latin-600italic.woff2") format("woff2"), url("../assets/fonts/rubik-v12-latin-600italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-700italic - latin */
/* prettier-ignore */
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("../assets/fonts/rubik-v12-latin-700italic.woff2") format("woff2"), url("../assets/fonts/rubik-v12-latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-800italic - latin */
/* prettier-ignore */
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 800;
  src: local(""), url("../assets/fonts/rubik-v12-latin-800italic.woff2") format("woff2"), url("../assets/fonts/rubik-v12-latin-800italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  font-family: Rubik, sans-serif;
  font-size: 1.6rem;
  color: #667c99;
}

.para {
  line-height: 1.6;
}

.heading-2 {
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: 500;
}

.heading-3 {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 500;
}

.heading-5 {
  font-size: 1.6rem;
  font-weight: 500;
}

.heading-6 {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: #032a5e;
  transition: all 0.2s ease-in-out;
}
.link:hover {
  color: #667c99;
}

.border-bottom {
  border-bottom: 0.1rem dotted #667c99;
}

.arrow-2-icon-btn {
  position: relative;
  overflow: hidden;
  width: max-content;
  padding: 1rem;
  padding-right: 6rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 500;
}
.arrow-2-icon-btn::before {
  content: "→";
  position: absolute;
  transform: translate(-145%, -35%);
  color: currentColor;
  font-size: 3.7rem;
  transition: all 0.2s ease-in-out;
}
.arrow-2-icon-btn::after {
  content: "→";
  position: absolute;
  transform: translate(45%, -35%);
  color: currentColor;
  font-size: 3.7rem;
  transition: all 0.2s ease-in-out;
}
.arrow-2-icon-btn:hover {
  color: currentColor;
  padding-left: 6rem;
  padding-right: 0;
}

.arrow-icon-btn {
  position: relative;
  color: currentColor;
  transition: all 0.2s ease-in-out;
}
.arrow-icon-btn::before {
  content: "➜";
  position: absolute;
  top: 0.6rem;
  left: 1rem;
  opacity: 0;
  color: currentColor;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}
.arrow-icon-btn:hover {
  color: #032a5e;
}
.arrow-icon-btn:hover::before {
  transform: translateX(0.8rem);
  opacity: 1;
}

.arrow-icon-text, .filled-arrow-icon-btn {
  color: #1fc2ef;
  white-space: nowrap;
  font-size: 1.6rem;
  font-weight: 500;
}
.arrow-icon-text::after, .filled-arrow-icon-btn::after {
  content: "➜";
  margin-left: 0.5rem;
  color: currentColor;
}

.filled-arrow-icon-btn {
  position: relative;
  /* To insert the text above the pseudo element background. */
  z-index: 1;
  padding: 0.8rem;
}
.filled-arrow-icon-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform-origin: 50% 100%;
  transform: scaleY(0);
  background-color: #fc5445;
  transition: all 0.3s cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.filled-arrow-icon-btn:hover {
  color: white;
}
.filled-arrow-icon-btn:hover::before {
  transform: scaleY(1);
}

.logo {
  display: flex;
  align-items: center;
}
.logo__icon {
  width: 3.8rem;
  height: 5.4rem;
  margin-right: 0.2rem;
}
.logo__title {
  font-size: 2.6rem;
  font-weight: 500;
  text-transform: lowercase;
}
.logo__title :nth-child(1) {
  color: #032a5e;
}
.logo__title :nth-child(2) {
  color: #667c99;
}

.menu-btn {
  display: flex;
  margin-top: 0.4rem;
}
.menu-btn::before, .menu-btn::after {
  content: "";
  width: 0.8rem;
  height: 0;
  border-top: 0.1rem solid #667c99;
  transition: all 0.3s ease-in-out;
}
.menu-btn::before {
  transform-origin: right;
  transform: rotate(45deg);
}
.menu-btn::after {
  transform-origin: left;
  transform: rotate(-45deg);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* The z-index value for page content is in range 1-99 and for modals is in range 100-199. */
  max-width: 90%;
  margin: auto;
}
.header__navigation {
  flex: 1 1 0;
  padding: 0 5%;
}
.header__extras {
  display: flex;
  align-items: center;
}

.nav-info {
  padding: 1.5rem 0;
  text-align: center;
  font-size: 1.5rem;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 0.1rem solid #e6e6e6;
  /* Extend each item to take the full available width. */
}
.nav-list > * {
  flex-grow: 1;
}
.nav-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  white-space: nowrap;
  font-weight: 500;
}
.nav-list__item:hover .menu-btn::before {
  transform: rotate(-45deg) translateX(75%) scaleX(1.5);
}
.nav-list__item:hover .menu-btn::after {
  transform: rotate(45deg) translateX(-75%) scaleX(1.5);
}
.nav-list__item:hover > .sub-list, .nav-list__item:hover > .sub-list--2 {
  z-index: 99;
  visibility: visible;
  opacity: 1;
  transform: translateY(-1rem);
}
.nav-list__link {
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 2rem 0;
}
.nav-list__link > .menu-btn {
  margin-left: 0.5rem;
}

.sub-list, .sub-list--2 {
  position: absolute;
  top: 100%;
  /* To fix a bug that makes sublists that we don't hover over accidentally become visible. When sublist is visible we specified z-index: 99;. */
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  min-width: 25rem;
  border: 0.1rem solid #e6e6e6;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  padding: 2rem 0;
  font-weight: initial;
  transition: all 0.2s ease-in-out;
}
.sub-list__item {
  font-size: 1.5rem;
  /* To make the title of a sublist always has the hover effect when hovering over any child of this sublist. */
}
.sub-list__item:hover .sub-list__sub-title {
  color: #032a5e;
}
.sub-list__item:hover .sub-list__sub-title::before {
  transform: translateX(0.8rem);
  opacity: 1;
}
.sub-list__link {
  display: block;
  padding: 0.5rem 4rem;
}
.sub-list__sub-title {
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.sub-list::before, .sub-list--2::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: rotateZ(45deg) translateY(65%);
  width: 1.4rem;
  height: 1.4rem;
  border-top: 0.1rem solid #e6e6e6;
  border-left: 0.1rem solid #e6e6e6;
  background-color: white;
}

.sub-list--2 {
  display: flex;
  padding: 3rem 1rem;
}
.sub-list--2 .sub-list, .sub-list--2 .sub-list--2 {
  /* For sublist that has child sublists, those child sublists should be visible by default. */
  z-index: initial;
  visibility: visible;
  opacity: 1;
  /* Overwrite some styles that are applied in case of a sublist that has no child sublists. */
  position: relative;
  top: unset;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}
.sub-list--2 .sub-list::before, .sub-list--2 .sub-list--2::before {
  display: none;
}
.sub-list--2 > .sub-list__item:last-of-type {
  border-left: 0.1rem solid #e6e6e6;
}

.extras-icon {
  margin-right: 1.5rem;
  width: 4rem;
  height: 4rem;
}

.extras-text {
  border-right: 0.1rem solid #e6e6e6;
  padding-right: 2.5rem;
  font-size: 1.5rem;
}

.search-icon {
  margin-left: 0.5rem;
  cursor: pointer;
  padding: 1.5rem;
}
.search-icon > svg {
  width: 1.8rem;
  height: 2.4rem;
  fill: #032a5e;
  transition: all 0.2s ease-in-out;
}
.search-icon:hover svg {
  fill: #667c99;
}

.search {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.search__label {
  position: absolute;
  right: 0;
  /* To make the search icon visible above the input. */
  z-index: -1;
  /* Span included only for web accessibility purposes. */
}
.search__label > span {
  display: none;
}
.search__input {
  width: 2rem;
  height: 5.5rem;
  border: 0.1rem solid #e6e6e6;
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding-right: 4rem;
  padding-left: 2rem;
  transition: all 0.2s ease-in-out;
}
.search__input:focus {
  width: 28.5rem;
}
.search__btn {
  border: none;
  background-color: transparent;
}

.company-section {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(5vw, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(5vw, 1fr) [full-end];
  row-gap: 2rem;
  background-color: #231834;
  padding-top: 8rem;
}
.company-section__header {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  column-gap: 2rem;
}
.company-section__header > .heading-6 {
  grid-column: 1;
  grid-row: 1;
  color: #1fc2ef;
}
.company-section__header > .heading-2 {
  grid-column: 1;
  grid-row: 2;
  color: white;
}
.company-section__header > .para {
  grid-column: 2;
  grid-row: 1/span 2;
}
.company-section__info-figures {
  grid-column: center-start/center-end;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  gap: 3rem;
  position: relative;
  margin-bottom: -11rem;
}
.company-section__footer {
  grid-column: full-start/full-end;
  grid-row: 3;
  background-color: #f1f5f8;
  padding-top: 12rem;
  padding-bottom: 6rem;
  text-align: center;
}

.info-figure {
  cursor: pointer;
}
.info-figure__img {
  object-fit: cover;
  object-position: center;
}
.info-figure__caption {
  position: relative;
  margin: -7rem auto 0 auto;
  width: 80%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  padding: 2rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.info-figure__caption > * {
  display: block;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.info-figure__caption .heading-5 {
  height: 2.4rem;
  color: #1fc2ef;
  /* This property is to solve text flickering on transition. */
  will-change: transform;
}
.info-figure__caption .heading-3 {
  margin: 0.4rem 0;
  color: #032a5e;
}
.info-figure__caption .arrow-icon-text, .info-figure__caption .filled-arrow-icon-btn {
  /* The three properties (display: block;  height: 0; overflow: hidden;) are required to hide an element and remove its space. */
  height: 0;
}
.info-figure:hover .info-figure__caption {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.info-figure:hover .info-figure__caption > .heading-5 {
  height: 0;
  transform: translateY(-100%);
}
.info-figure:hover .info-figure__caption > a {
  height: 2.4rem;
}

.industries-section {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(5vw, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(5vw, 1fr) [full-end];
  row-gap: 2rem;
  background-color: #171122;
  padding: 8rem 0;
}
.industries-section__header {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  column-gap: 2rem;
}
.industries-section__header > .heading-6 {
  grid-column: 1;
  grid-row: 1;
  color: #1fc2ef;
}
.industries-section__header > .heading-2 {
  grid-column: 1;
  grid-row: 2;
  color: white;
}
.industries-section__header > .para {
  grid-column: 2;
  grid-row: 1/span 2;
}
.industries-section__industry-cards {
  grid-column: center-start/center-end;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11.2rem, 1fr));
  gap: 3rem;
  margin-top: 2rem;
}

.industry-card {
  position: relative;
  border: 0.1rem solid #251d2f;
  border-radius: 0.5rem;
}
.industry-card__link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 15%;
  text-align: center;
}
.industry-card .heading-5 {
  margin-bottom: 1.5rem;
  color: white;
}
.industry-card .para {
  font-size: 1.5rem;
}
.industry-card__icon {
  margin-bottom: 3rem;
  width: 6.4rem;
  height: 6.4rem;
  /* To visually insert this pseudo element in the first order in link-container. */
  order: -1;
}
.industry-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(1.15);
  transition: all 0.2s ease-in-out;
}
.industry-card:hover::before {
  transform: scale(1);
  border: transparent;
  background-color: #251d2f;
}
.industry-card:hover .industry-card__icon {
  animation: 1s infinite shake-icon;
}

.services-section {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(5vw, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(5vw, 1fr) [full-end];
  padding: 8rem 0 4rem 0;
}
.services-section__header {
  grid-column: center-start/center-end;
  margin-bottom: 4rem;
  text-align: center;
}
.services-section__header > .heading-2 {
  color: #032a5e;
}
.services-section__service-cards {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  gap: 3rem;
  margin-bottom: 4rem;
}
.services-section__footer {
  grid-column: center-start/center-end;
  margin-bottom: 6rem;
  text-align: center;
}
.services-section__customer-brands {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1.6rem, 1fr));
  column-gap: 3rem;
}

.service-card {
  background-color: #f1f5f8;
  padding: 10%;
  text-align: center;
}
.service-card > .heading-3 {
  color: #032a5e;
}
.service-card__service-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
}
.service-card__service-icon > svg {
  height: 8rem;
  transition: all 0.35s cubic-bezier(0.12, 0.845, 0.305, 1);
}
.service-card__service-icon > span {
  display: inline-block;
  margin-top: 0.8rem;
  width: 6.6rem;
  height: 0.8rem;
  border-radius: 100%;
  background-color: #e6e6e6;
  transition: all 0.35s cubic-bezier(0.12, 0.845, 0.305, 1);
}
.service-card:hover .service-card__service-icon svg {
  transform: translateY(-2rem) rotate(8deg);
}
.service-card:hover .service-card__service-icon svg + span {
  transform: scale(0.75);
}

.brand__img {
  width: 100%;
  height: auto;
}

.slider-section {
  grid-column: full-start/full-end;
  max-height: 62rem;
  height: 48vw;
  position: relative;
}

.carousel-btn, .carousel-btn--right, .carousel-btn--left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  transform: translateY(50%);
  width: 7rem;
  height: 6rem;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out, background-color 0s;
}
.carousel-btn--left {
  bottom: 50%;
  left: 0;
  border-radius: 0 3rem 3rem 0;
}
.carousel-btn--right {
  bottom: 50%;
  right: 0;
  border-radius: 3rem 0 0 3rem;
}
.slider-section:hover .carousel-btn, .slider-section:hover .carousel-btn--left, .slider-section:hover .carousel-btn--right {
  opacity: 1;
}
.carousel-btn:hover, .carousel-btn--left:hover, .carousel-btn--right:hover {
  background-color: black;
}

.carousel-icon, .carousel-icon--right, .carousel-icon--left {
  width: 1.8rem;
  height: 1.8rem;
  fill: #032a5e;
}
.carousel-btn:hover .carousel-icon, .carousel-btn--left:hover .carousel-icon, .carousel-btn--right:hover .carousel-icon, .carousel-btn:hover .carousel-icon--left, .carousel-btn--left:hover .carousel-icon--left, .carousel-btn--right:hover .carousel-icon--left, .carousel-btn:hover .carousel-icon--right, .carousel-btn--left:hover .carousel-icon--right, .carousel-btn--right:hover .carousel-icon--right {
  fill: white;
}

.slide, .slide--3, .slide--2, .slide--1 {
  display: grid;
  grid-template-columns: [full-start] minmax(5vw, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(5vw, 1fr) [full-end];
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #1fc2ef;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
.slide--1 {
  background-image: url("/assets/images/background-images/slider-images/slider-1.jpg");
}
.slide--2 {
  display: none;
  background-image: url("/assets/images/background-images/slider-images/slider-2.jpg");
}
.slide--3 {
  display: none;
  background-image: url("/assets/images/background-images/slider-images/slider-3.jpg");
}
.slide__content {
  grid-column: center-start/center-end;
  color: white;
}
.slide__content > .slider-para--lg:last-of-type::after {
  content: "";
  display: block;
  margin-top: 1rem;
  margin-left: 0.5rem;
  width: 17%;
  height: 0.5rem;
  background-color: currentColor;
}
.slide__content > [class*=btn] {
  margin-top: 5%;
}

.slider-para, .slider-para--lg, .slider-para--sm {
  width: max-content;
  line-height: 1;
}
.slider-para--sm {
  /* Another method to specify responsive font-size with javascript. 
  "Currently when we want to access a Sass variable within JavaScript, we add it to a CSS variable and retrieve using getPropertyValue('--var'). Now that we're SSR'ing, we are only able to access these variables on the browser side. Due to this limitation, this feature adds the ability to import sass variables directly in our JavaScript files that works on server side."
  https://github.com/Jam3/nextjs-boilerplate/pull/49 */
  font-size: clamp(1rem, 5.8rem, 4.5vw);
  font-weight: 400;
}
.slider-para--lg {
  /* Another method to specify responsive font-size with javascript. 
  "Currently when we want to access a Sass variable within JavaScript, we add it to a CSS variable and retrieve using getPropertyValue('--var'). Now that we're SSR'ing, we are only able to access these variables on the browser side. Due to this limitation, this feature adds the ability to import sass variables directly in our JavaScript files that works on server side."
  https://github.com/Jam3/nextjs-boilerplate/pull/49 */
  font-size: clamp(1rem, 10.2rem, 8vw);
  font-weight: 600;
}

.studies-section {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(5vw, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(5vw, 1fr) [full-end];
  background-color: #171122;
}
.studies-section__header {
  grid-column: center-start/center-end;
  text-align: center;
}
.studies-section__header > .heading-6 {
  color: #1fc2ef;
}
.studies-section__header > .heading-2 {
  color: white;
}
.studies-section__project-cards {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  gap: 3rem;
  margin: 3rem 0 -4.5rem 0;
}
.studies-section__footer {
  grid-column: full-start/full-end;
  grid-row: 3;
  background-image: linear-gradient(to bottom, #f1f5f8, white);
  padding-top: 10rem;
  padding-bottom: 6rem;
  text-align: center;
}

.project {
  position: relative;
  min-height: 20rem;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.project__link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* To make the whole container clickable we need to put it in a higher stacking order. */
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 1rem 15%;
}
.project .heading-3 {
  color: white;
}
.project__brand-img {
  margin-top: 1rem;
}
.project__back-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  filter: grayscale(100%);
}
.project:nth-of-type(1) {
  background-color: #71cbcc;
}
.project:nth-of-type(2) {
  background-color: #3ea9f5;
}
.project:nth-of-type(3) {
  background-color: #8a49a1;
}
.project:hover {
  transform: translateY(-0.6rem);
}

.users-section {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(5vw, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(5vw, 1fr) [full-end];
}
.users-section__map {
  grid-column: col-start 2/col-end 11;
  position: relative;
  margin: auto;
  max-width: 92.5rem;
}

.map-img {
  display: block;
}

.user, .user--10, .user--9, .user--8, .user--7, .user--6, .user--5, .user--4, .user--3, .user--2, .user--1 {
  position: absolute;
  cursor: pointer;
}
.user__img {
  max-width: 3rem;
  max-height: 3rem;
}
.user::before, .user--10::before, .user--9::before, .user--8::before, .user--7::before, .user--6::before, .user--5::before, .user--4::before, .user--3::before, .user--2::before, .user--1::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #032a5e;
  opacity: 0.2;
  animation: user-pin 3s infinite;
}
.user--1 {
  top: -2%;
  left: 34%;
}
.user--2 {
  top: 30%;
  left: 24%;
}
.user--3 {
  top: 30%;
  left: 47%;
}
.user--4 {
  top: 20%;
  left: 60%;
}
.user--5 {
  top: 10%;
  left: 10%;
}
.user--6 {
  top: 20%;
  left: 30%;
}
.user--7 {
  top: 42%;
  left: 70%;
}
.user--8 {
  top: 40%;
  left: 55%;
}
.user--9 {
  top: 60%;
  left: 30%;
}
.user--10 {
  left: 80%;
  top: 15%;
}

/*# sourceMappingURL=main.css.map */
