@mixin btn {
  white-space: nowrap;
  text-align: center;
  font-size: $font-size--rg;
  font-weight: 500;
}

@mixin filled-btn {
  position: relative;
  /* Show the text above the pseudo element background. The element itself have z-index: 1; and the pseudo element have z-index: -1;. */
  z-index: 1;
  border: $border--1;
  border-radius: $border-radius--lg;
  padding: 1.5rem 2rem;
  color: $text-color--light;
  /* Transition for border, color, or transform changes. */
  transition: $transition--1;

  &::before {
    content: "";
    position: absolute;
    /* The 4 dimensions peoperties have 0 value, to take full width and height. */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* Show the text above the pseudo element background. The element itself have z-index: 1; and the pseudo element have z-index: -1;. */
    z-index: -1;
    /* Make the height increase animation start from center bottom. */
    transform-origin: 50% 100%;
    transform: scaleY(0);
    background-color: $color-secondary--light;
    /* Transition when hover on. */
    transition: $transition--2;
  }

  &:hover {
    border-color: $color-secondary--light;
    color: $color-white;
  }

  &:hover::before {
    transform: scaleY(1);
    /* Transition when hover off. */
    transition: $transition--4;
  }
}

/* We had to create a separate mixin for this effect and not simply include it in the component .scss partial file, because this effect is only used when hovering over a parent element. */
@mixin menu-btn-hover {
  &::before {
    transform: rotate(-45deg) translateX(75%) scaleX(1.5);
  }

  &::after {
    transform: rotate(45deg) translateX(-75%) scaleX(1.5);
  }
}

/* We had to create a separate mixin for this effect and not simply include it in the component .scss partial file, because this effect is only used when hovering over a parent element. */
@mixin sub-list-hover {
  z-index: 99;
  visibility: visible;
  opacity: 1;
  transform: translateY(-1rem);
}

/* We included this as a mixin here also because we may need to use this effect when hovering over another or parent element.  */
@mixin arrow-icon-btn-hover {
  color: $link-color;

  &::before {
    transform: translateX(0.8rem);
    opacity: 1;
  }
}

/* We included this as a mixin here also because we may need to use this effect when hovering over another or parent element.  */
@mixin arrow-icon-heading-hover {
  transform: translateX(-1rem);

  &::after {
    opacity: 1;
    transform: translateX(1rem);
  }
}

/* Main grid-template-columns definition that consists of 14 columns. */
@mixin grid-columns {
  grid-template-columns:
    [full-start] minmax(5vw, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end])
    [center-end] minmax(5vw, 1fr) [full-end];
}
