/* We had to create a separate mixin for this effect and not simply include it in the component .scss partial file, because this effect is only used when hovering over a parent element. */
@mixin menu-btn-hover {
  &::before {
    transform: rotate(-45deg) translateX(75%) scaleX(1.5);
  }

  &::after {
    transform: rotate(45deg) translateX(-75%) scaleX(1.5);
  }
}

/* We had to create a separate mixin for this effect and not simply include it in the component .scss partial file, because this effect is only used when hovering over a parent element. */
@mixin sub-list-hover {
  z-index: 99;
  visibility: visible;
  opacity: 1;
  transform: translateY(-1rem);
}

/* We included this as a mixin here also because we may need to use this effect when hovering over another or parent element.  */
@mixin arrow-icon-btn-hover {
  color: $color-link;

  &::before {
    transform: translateX(0.8rem);
    opacity: 1;
  }
}

/* We included this as a mixin here also because we may need to use this effect when hovering over another or parent element.  */
@mixin arrow-icon-heading-hover {
  transform: translateX(-1rem);

  &::after {
    opacity: 1;
    transform: translateX(1rem);
  }
}

/* Main grid-template-columns definition that consists of 14 columns. */
@mixin grid-columns {
  grid-template-columns:
    [full-start] minmax(5vw, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end])
    [center-end] minmax(5vw, 1fr) [full-end];
}

@mixin link-style {
  color: $color-link;
  transition: $transition--1;

  &:hover {
    color: $color-text;
  }
}
