// -------------------------1------------------------- //

.header {
  // -------------------------2------------------------- //
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* The z-index value for page content is in range 1-99 and for modals is in range 100-199. */
    // z-index: 95; Commented out because sublists accidentally become visible when hovering over the next section ("slider-section").
    margin: auto;
    max-width: 90%;

    @include media-respond($bp-lg) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  // -------------------------2------------------------- //
  &__navigation {
    /* Expand to occupy all available width and push elements on both sides. */
    flex: 1 1 0;
    padding: 0 5%;
  }
}

// -------------------------1------------------------- //

.navigation {
  &__nav-info {
    padding: 1.5rem 0;
    text-align: center;
    font-size: $font-size--sm;

    @include media-respond($bp-lg) {
      display: none;
    }
  }
}

// -------------------------1------------------------- //

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: $border--1;
  // -------------------------2------------------------- //
  /* Extend each item to occupy the full available width. */
  & > * {
    flex-grow: 1;
  }

  // -------------------------2------------------------- //
  &__item {
    /* Flex container to center "nav-list__link" and "nav-list__sublist" if it exists above each other. We used justify-content: center; so it will align the two elements in the center of their container and the width of this container will be the highest width of the two elements because "nav-list__sublist" is absolutely positioned so it is actually on top of "nav-list__link".  */
    display: flex;
    justify-content: center;
    position: relative;
    white-space: nowrap;
    font-weight: 500;

    @include border-increase-animation(top, 0.2rem);

    /* If there is a sublist make it visible and animate the menu button. */
    &:hover {
      & .menu-btn {
        @include menu-btn-hover;
      }

      & > .sub-list {
        @include sub-list-hover;
      }
    }
  }

  // -------------------------2------------------------- //
  &__link {
    @include link;
    /* Flex container to align the link text and the menu button. */
    display: flex;
    align-items: center;
    padding: 2rem 0;

    & > .menu-btn {
      margin-left: 0.5rem;
    }
  }

  // -------------------------2------------------------- //
  @include media-respond($bp-lg) {
    display: none;
  }
}

// -------------------------1------------------------- //

.sub-list {
  position: absolute;
  top: 100%;
  /* Prevent sublists that we don't hover over from accidentally becoming visible. When a sublist is visible its z-index is 99, otherwise it is -1. */
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  min-width: 25rem;
  border: $border--1;
  border-radius: $border-radius--rg;
  box-shadow: $shadow--1;
  background-color: $color-white;
  padding: 2rem 0;
  font-size: $font-size--sm;
  font-weight: initial;
  transition: $transition--1;

  // -------------------------2------------------------- //
  &__item {
    /* Only needed in "sub-list--2" because it has "sub-list__sub-title". Make the title of a sublist always have a hover effect when hovering over any child of this sublist. */
    &:hover .sub-list__sub-title {
      @include arrow-before-btn-hover;
    }
  }

  // -------------------------2------------------------- //
  &__link {
    @include arrow-before-btn;
    display: block;
    padding: 0.5rem 4rem;

    &:hover {
      color: $link-color;
    }
  }

  // -------------------------2------------------------- //
  &__sub-title {
    /* Only needed in "sub-list--2" because it has "sub-list__sub-title". */
    margin-bottom: 0.5rem;
    font-weight: 500;
  }

  // -------------------------2------------------------- //
  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: rotateZ(45deg) translateY(65%);
    width: 1.4rem;
    height: 1.4rem;
    border-top: $border--1;
    border-left: $border--1;
    background-color: $color-white;
  }
}

// -------------------------1------------------------- //

.sub-list--2 {
  @extend .sub-list;
  display: flex;
  padding: 3rem 1rem;

  // -------------------------2------------------------- //
  & .sub-list {
    /* For sublist that has child sublists, those child sublists should be visible by default. */
    z-index: initial;
    visibility: visible;
    opacity: 1;
    /* Overwrite some styles that are applied in case of a sublist that has no child sublists. */
    position: relative;
    top: unset;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    &::before {
      display: none;
    }
  }

  // -------------------------2------------------------- //
  & > .sub-list__item:last-of-type {
    border-left: $border--1;
  }
}

// -------------------------1------------------------- //

.extras {
  display: flex;
  align-items: center;
  position: relative;

  // -------------------------2------------------------- //
  &__chat-icon {
    margin-right: 1.5rem;
    width: 4rem;
    height: 4rem;
  }

  // -------------------------2------------------------- //
  &__text {
    border-right: $border--1;
    padding-right: 2.5rem;
    font-size: $font-size--sm;
  }

  // -------------------------2------------------------- //
  &__search-icon {
    padding: 1.5rem 1.5rem 1.5rem 2rem;

    .search-icon {
      @include link;
      display: inline-block;
      width: 1.8rem;
      height: 2.4rem;
      cursor: pointer;
      fill: $text-color;
    }
  }

  // -------------------------2------------------------- //
  &__menu-icon {
    display: none;
    margin-left: 1rem;
    cursor: pointer;
    padding: 1rem;

    .menu-icon {
      width: 2.4rem;
      height: 2.4rem;
      fill: $text-color;
    }

    @include media-respond($bp-lg) {
      display: inline-block;
    }
  }

  // -------------------------2------------------------- //
  @include media-respond($bp-sm) {
    & > *:not([class*="menu-icon"]) {
      display: none;
    }
  }
}
