// -------------------------1------------------------- //

.industries-section {
  /* Placement in the global grid layout that is defined in _base.scss. */
  grid-column: full-start / full-end;
  /* Subgrid definition for section contents. It has the same columns as the global grid layout. */
  display: grid;
  @include grid-columns;
  background-color: $color-primary--dark-2;
  padding: 8rem 0;

  // -------------------------2------------------------- //
  &__header {
    @include header-h6-h2-para;
  }

  // -------------------------2------------------------- //
  &__industry-cards {
    /* Placement in the section subgrid layout. */
    grid-column: center-start / center-end;
    grid-row: 2;
    /* Another subgrid definition for industry cards. */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 3rem;
  }
}

// -------------------------1------------------------- //

.industry-card {
  position: relative;
  border: $border--1;
  border-color: rgba($color-primary, 0.5);
  border-radius: $border-radius--rg;

  // -------------------------2------------------------- //
  &__link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15%;
    text-align: center;
  }

  // -------------------------2------------------------- //
  & .heading-5 {
    margin-bottom: 1.5rem;
    color: $color-white;
  }

  // -------------------------2------------------------- //
  & .para {
    font-size: $font-size--sm;
  }

  // -------------------------2------------------------- //
  &__icon {
    margin-bottom: 3rem;
    width: 6.4rem;
    height: 6.4rem;
    /* Visually insert the icon in the first order. */
    order: -1;
  }

  // -------------------------2------------------------- //
  /* Pseudo element as a background color for the industry card. */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(1.2);
    transition: $transition--1;
  }

  // -------------------------2------------------------- //
  &:hover::before {
    transform: scale(1);
    border: transparent;
    background-color: rgba($color-primary, 0.35);
  }

  &:hover &__icon {
    animation: 1s infinite shake-icon;
  }
}
