.services-section {
  grid-column: full-start / full-end;
  display: grid;
  @include grid-columns;
  padding: 8rem 0 4rem 0;

  &__header {
    grid-column: center-start / center-end;
    margin-bottom: 4rem;
    text-align: center;

    & > .heading-2 {
      color: $color-text--colored-dark;
    }
  }

  &__service-cards {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
    gap: 3rem;
    margin-bottom: 4rem;
  }

  &__footer {
    grid-column: center-start / center-end;
    margin-bottom: 6rem;
    text-align: center;
  }

  &__customer-brands {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1.6rem, 1fr));
    column-gap: 3rem;
  }
}

.service-card {
  background-color: $color-light--2;
  padding: 10%;
  text-align: center;

  & > .heading-3 {
    color: $color-text--colored-dark;
  }

  &__service-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;

    & > svg {
      height: 8rem;
      transition: $transition--3;
    }

    & > span {
      display: inline-block;
      margin-top: 0.8rem;
      width: 6.6rem;
      height: 0.8rem;
      border-radius: 100%;
      background-color: $color-gray--light;
      transition: $transition--3;
    }
  }

  &:hover &__service-icon svg {
    transform: translateY(-2rem) rotate(8deg);

    & + span {
      transform: scale(0.75);
    }
  }
}

.brand__img {
  width: 100%;
  height: auto;
}
