.users-section {
  grid-column: full-start / full-end;
  display: grid;
  @include grid-columns;

  &__map {
    grid-column: col-start 2 / col-end 11;
    position: relative;
    margin: auto;
    max-width: 92.5rem;
  }
}

.map-img {
  display: block;
}

.user {
  position: absolute;
  cursor: pointer;

  &__img {
    max-width: 3rem;
    max-height: 3rem;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: $color-primary;
    opacity: 0.2;
    animation: user-pin 3s infinite;
  }

  &--1 {
    @extend .user;
    top: -2%;
    left: 34%;
  }
  &--2 {
    @extend .user;
    top: 30%;
    left: 24%;
  }
  &--3 {
    @extend .user;
    top: 30%;
    left: 47%;
  }
  &--4 {
    @extend .user;
    top: 20%;
    left: 60%;
  }
  &--5 {
    @extend .user;
    top: 10%;
    left: 10%;
  }
  &--6 {
    @extend .user;
    top: 20%;
    left: 30%;
  }
  &--7 {
    @extend .user;
    top: 42%;
    left: 70%;
  }
  &--8 {
    @extend .user;
    top: 40%;
    left: 55%;
  }
  &--9 {
    @extend .user;
    top: 60%;
    left: 30%;
  }
  &--10 {
    @extend .user;
    left: 80%;
    top: 15%;
  }
}
