.users-section {
  grid-column: full-start / full-end;
  display: grid;
  @include grid-columns;
  background-image: linear-gradient(to top, $color-primary--light-3, $color-white),
    url("/assets/images/background-images/bg-users-section.jpg");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: multiply;

  &__map {
    grid-column: center-start / center-end;
  }

  &__contact-options {
    grid-column: center-start / center-end;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    border-radius: $border-radius--lg;
    box-shadow: $shadow--1;
    margin-top: -8rem;
    background-color: rgba($color-white, 0.9);
    padding: 5% 0;

    &::before {
      content: "";
      position: absolute;
      bottom: -0.8rem;
      transform: translateX(1%);
      width: 98%;
      height: 0.8rem;
      border-radius: 0 0 $border-radius--lg $border-radius--lg;
      background-color: rgba($color-primary--light-2, 0.2);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -1.6rem;
      transform: translateX(2%);
      width: 96%;
      height: 0.8rem;
      border-radius: 0 0 $border-radius--lg $border-radius--lg;
      background-color: rgba($color-primary--light-2, 0.4);
    }
  }

  &__footer {
    grid-column: center-start / center-end;
    padding: 6rem 0;
    text-align: center;
  }
}

.map {
  position: relative;
  margin: auto;
  max-width: 92.5rem;

  &__user {
    position: absolute;
    cursor: pointer;
  }
}

.user {
  &__img {
    /* Make "user__img" has a higher stacking order than the ::before pseudo element of "user". */
    position: relative;
    max-width: 3rem;
    max-height: 3rem;
  }

  &::before {
    content: "";
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: $color-primary;
    opacity: 0.2;
    animation: pin-on-map 3s infinite;
  }

  &--1 {
    @extend .user;
    top: -2%;
    left: 34%;
  }
  &--2 {
    @extend .user;
    top: 30%;
    left: 24%;
  }
  &--3 {
    @extend .user;
    top: 30%;
    left: 47%;
  }
  &--4 {
    @extend .user;
    top: 20%;
    left: 60%;
  }
  &--5 {
    @extend .user;
    top: 10%;
    left: 10%;
  }
  &--6 {
    @extend .user;
    top: 20%;
    left: 30%;
  }
  &--7 {
    @extend .user;
    top: 42%;
    left: 70%;
  }
  &--8 {
    @extend .user;
    top: 40%;
    left: 55%;
  }
  &--9 {
    @extend .user;
    top: 60%;
    left: 30%;
  }
  &--10 {
    @extend .user;
    left: 80%;
    top: 15%;
  }
}

.contact-option {
  flex: 1 1 25rem;
  position: relative;
  padding: 0 5%;

  &:first-of-type::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0.1rem;
    height: 100%;
    background-color: $border-color--1;
  }

  &__link-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    row-gap: 1rem;
    column-gap: 5%;
  }

  &__heading {
    grid-column: 1;
    grid-row: 1;
    color: $text-color--dark;
    margin: 0;
  }

  &__para {
    grid-column: 1;
    grid-row: 2;
  }

  &__icon {
    grid-column: 2;
    grid-row: 1 / 3;
    width: 6.4rem;
    height: 6.4rem;
  }

  &:hover &__heading {
    @include arrow-icon-after-hover;
  }

  &:hover &__icon {
    animation: 1s infinite shake-icon;
  }
}
