// -------------------------1------------------------- //

.video-section {
  /* Placement in the global grid layout that is defined in _base.scss. */
  grid-column: full-start / full-end;
  /* Hide text overflow resulting from slide-show-text animation. */
  overflow: hidden;
  filter: grayscale(35%);
  background-image: linear-gradient(rgba($color-primary, 0.7), rgba($color-primary, 0.7)),
    url("/assets/images/background-images/bg-video-section.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 12rem 1.5rem;

  // -------------------------2------------------------- //
  &__content {
    color: $color-white;
    text-align: center;
  }

  // -------------------------2------------------------- //
  &__lead-text {
    font-size: clamp(2.8rem, 5vw, 4.8rem);
  }

  // -------------------------2------------------------- //
  &__heading {
    position: relative;
    /* Must have a height value because all its child elements are absolutely positioned. */
    height: clamp(4rem, 10vw, 9.6rem);
    width: 75%;
    margin: 2rem auto 2rem auto;
    line-height: 1;
    font-size: clamp(4rem, 10vw, 9.6rem);

    & > * {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      text-align: center;
      animation: slide-show-text 12s infinite;
    }

    & > :nth-child(1) {
      animation-delay: 0s;
    }
    & > :nth-child(2) {
      animation-delay: 3s;
    }
    & > :nth-child(3) {
      animation-delay: 6s;
    }
    & > :nth-child(4) {
      animation-delay: 9s;
    }
  }

  // -------------------------2------------------------- //
  &__para {
    font-size: clamp(2rem, 5vw, 2.1rem);
  }

  // -------------------------2------------------------- //
  &__btn {
    margin-top: 5rem;
    border: none;
    border-radius: 50%;
    background-color: $color-white;
    padding: 2rem;
    animation: pulse 3.5s infinite ease-in-out;
  }

  // -------------------------2------------------------- //
  &__icon {
    display: block;
    transform: translateX(10%);
    width: 1.5rem;
    height: 1.5rem;
    fill: $color-secondary;
  }
}
