.logo {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 0.2rem;
    width: 3.8rem;
    height: 5.4rem;
  }

  &__title {
    text-transform: lowercase;
    font-size: $font-size-logo;
    font-weight: 500;

    :nth-child(1) {
      color: $color-primary;
    }

    :nth-child(2) {
      color: $color-primary--light-2;
    }
  }
}
