.menu-btn {
  display: flex;
  margin-top: 0.4rem;

  &::before,
  &::after {
    content: "";
    width: 0.8rem;
    height: 0;
    border-top: $border--1;
    border-color: $text-color;
    transition: $transition--2;
  }

  &::before {
    transform-origin: right;
    transform: rotate(45deg);
  }

  &::after {
    transform-origin: left;
    transform: rotate(-45deg);
  }
}
