.menu-btn {
  display: flex;
  margin-top: 0.5rem;
  margin-left: 0.5rem;

  &::before,
  &::after {
    content: "";
    width: 0.8rem;
    height: 0;
    border-top: $border--2;
    transition: $transition--2;
  }

  &::before {
    transform-origin: right;
    transform: rotate(45deg);
  }

  &::after {
    transform-origin: left;
    transform: rotate(-45deg);
  }
}
