html {
  /* To make calculations easier when using rem. */
  font-size: 62.5%;
}

a {
  display: inline-block;
  text-decoration: none;
  @include link-style;
}

ul {
  list-style: none;
}

a,
button,
input,
textarea,
select {
  &:focus-visible {
    outline: 0.1rem dotted $color-text;
  }
}

/* Grid definition for the overall page layout. */
.main {
  display: grid;
  @include grid-columns;
  // I don't know why this is not working.
  // grid-template-rows: minmax(28vw, 62rem) repeat(auto-fit, 100%);
  grid-template-rows: minmax(28vw, 62rem) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.logo {
  display: flex;
  align-items: center;

  &__icon {
    width: 3.6rem;
    height: 4.5rem;
    margin-right: 0.5rem;
  }

  &__title {
    font-size: $font-size-logo;
    font-weight: 500;
    text-transform: lowercase;

    :nth-child(1) {
      color: $color-primary;
    }

    :nth-child(2) {
      color: $color-light--1;
    }
  }
}
