*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: inline-block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  /* Resetting with outline-width: 0 prevents the browser from clearing the styles and when you reapply a width the style will still be there. */
  outline-width: 0;
  font: inherit;
}

input,
button,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Stop IE showing a scrollbar when there is no need for one. */
textarea {
  overflow: auto;
}

button {
  cursor: pointer;
  line-height: 1;
}

/* Remove all animations and transitions for people that prefer not to see them. */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
