/* rubik-regular - latin */
/* prettier-ignore */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/rubik-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/rubik-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-500 - latin */
/* prettier-ignore */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../assets/fonts/rubik-v12-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/rubik-v12-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-600 - latin */
/* prettier-ignore */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../assets/fonts/rubik-v12-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/rubik-v12-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-700 - latin */
/* prettier-ignore */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../assets/fonts/rubik-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/rubik-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-800 - latin */
/* prettier-ignore */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('../assets/fonts/rubik-v12-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/rubik-v12-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-italic - latin */
/* prettier-ignore */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/rubik-v12-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/rubik-v12-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-500italic - latin */
/* prettier-ignore */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 500;
  src: local(''),
       url('../assets/fonts/rubik-v12-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/rubik-v12-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-600italic - latin */
/* prettier-ignore */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 600;
  src: local(''),
       url('../assets/fonts/rubik-v12-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/rubik-v12-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-700italic - latin */
/* prettier-ignore */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../assets/fonts/rubik-v12-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/rubik-v12-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-800italic - latin */
/* prettier-ignore */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 800;
  src: local(''),
       url('../assets/fonts/rubik-v12-latin-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/rubik-v12-latin-800italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: Rubik, sans-serif;
  font-size: $font-size--rg;
  color: $text-color;
}

.para {
  line-height: 1.6;
}

.heading-1 {
  margin: 1rem 0;
  font-size: $heading-size--1;
  font-weight: 500;
}

.heading-2 {
  margin: 1rem 0;
  font-size: $heading-size--2;
  font-weight: 500;
}

.heading-3 {
  margin: 1rem 0;
  font-size: $heading-size--3;
  font-weight: 500;
}

.heading-5 {
  margin: 0.5rem 0;
  font-size: $heading-size--5;
  font-weight: 500;
}

.heading-6 {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: $heading-size--6;
  font-weight: 500;
}
